body{
    font-family: "Lucida Handwriting", cursive;
    text-align: center;
    margin: 200px auto;
    background-color: rgb(255, 126, 238);
}

 li{
    margin: 10px 0;
 }

 ul{
    list-style-type: none;
    padding: 0;
    box-shadow: 0 2px 5px rgb(240, 32, 160);

 }

 button{
    color: rgb(0, 0, 0);
    background-color:rgb(186, 138, 230);
    font-family: Georgia, 'Times New Roman', Times, serif;

    
 }

 button:hover {
    background-color: #7100b3;
  }

  



